.price {
  color: rgba(181, 117, 98, 255);
  font-weight: bold;
  position: absolute;
}
.quantity {
  margin-left: 4em;
  border: solid 1px #dee2e6;
  padding: 0.2em 0.8em 0.2em 0.8em;
  border-radius: 5px;
}
.incdec {
  display: inline;
  position: absolute;
  right: 0;
  margin-right: 1em;
}
.plmn {
  cursor: pointer;
  padding: 0.2em 0.8em 0.2em 0.8em;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
}
